*~
bin*
target*
build
jgiven-reports*
checkstyle-reports*
out
.idea*
.gradle*
**.log
**.classpath
**.project
**.settings*
**.fdb
**.db
**.deb
**.zip
**.iml
*nuosql*
*.lock
.metadata*
.vagrant*
.DS_Store*
/.bash_history
/.gitconfig
application-default.properties
/doc/ui-specification/src/docs/asciidoc/images/business-domain-model.svg
/doc/ui-specification/src/docs/asciidoc/images/business-domain-model.svg.cache
